.timeline {
  position: relative;
  margin: 20px;
  padding: 20px 0;
  width: 100%;
  max-width: 600px;
}

.timeline::before {
  content: '';
  position: absolute;
  left: 25px;
  top: 0;
  bottom: 0;
  width: 4px;
  background: #ccc;
}

.timeline::after {
  content: '';
  position: absolute;
  left: 19px; /* Centraliza a bolinha na linha */
  top: 0;
  width: 16px;
  height: 16px;
  background-color: #5d4037; /* Cor da bolinha inicial */
  border-radius: 50%;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.timeline-item {
  display: flex;
  align-items: flex-start;
  margin: 20px 0;
  position: relative;
}

.timeline-year {
  font-weight: bold;
  position: absolute;
  left: -10px; /* Ajuste este valor conforme necessário para posicionar mais à esquerda */
  top: 70px;
  width: 60px;
  padding: 5px;
  text-align: center;
  background-color: #5d4037; /* Cor do retângulo */
  color: white;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.timeline-content {
  margin-left: 80px;
  background-color: #f9f4ef;
  padding: 10px;
  border-radius: 8px;
  display: flex;
  align-items: center;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  width: 100%;
}

.timeline-image img {
  width: 100px;
  height: auto;
  border-radius: 5px;
  margin-right: 15px;
}

.timeline-text {
  flex-grow: 1;
  color: #5d4037;
}

/* Responsivo para telas menores, como celulares */
@media (max-width: 768px) {
  .timeline {
    margin: 10px;
    padding: 10px 0;
    max-width: 100%; /* Ajusta para ocupar a largura total em telas pequenas */
  }

  .timeline::before {
    left: 10px; /* Ajusta a posição da linha */
  }

  .timeline-item {
    flex-direction: column; /* Alinha os itens em coluna em dispositivos móveis */
    align-items: flex-start;
    margin-left: 20px; /* Afasta o item da borda esquerda */
  }

  .timeline-year {
    position: static; /* Remove o posicionamento absoluto */
    width: auto;
    padding: 5px 10px;
    margin-bottom: 10px; /* Adiciona espaço abaixo do ano */
    text-align: center;
  }

  .timeline-content {
    margin-left: 0; /* Remove a margem esquerda */
    padding: 15px; /* Aumenta o padding para melhorar a aparência em telas menores */
    width: 100%;
  }

  .timeline-image img {
    width: 80px; /* Reduz o tamanho da imagem */
    margin-right: 0;
    margin-bottom: 10px; /* Espaço abaixo da imagem */
  }

  .timeline-text {
    font-size: 0.9rem; /* Ajusta o tamanho da fonte */
    text-align: justify; /* Alinha o texto de forma justificada */
  }
}
